bottle==0.12.13
certifi==2017.7.27.1
chardet==3.0.4
idna==2.6
oauthlib==2.0.6
psycopg2==2.7.3.2
py==1.4.34
PySocks==1.6.8
pytest==3.2.3
requests==2.20.1
requests-oauthlib==0.8.0
six==1.11.0
SQLAlchemy==1.1.14
git+https://github.com/tweepy/tweepy.git
urllib3==1.22
