atomicwrites==1.2.1
attrs==18.2.0
flake8==3.6.0
mccabe==0.6.1
more-itertools==4.3.0
numpy==1.15.4
pandas==0.23.4
pluggy==0.8.0
py==1.7.0
pycodestyle==2.4.0
pyflakes==2.0.0
pytest==4.0.1
python-dateutil==2.7.5
pytz==2018.7
-e git+git@github.com:langaa-egeskov/my-100-days.git@38fd1ca8394d644633661253f8c18cd199cd586b#egg=rps15&subdirectory=My100Days/Day_015
six==1.11.0
